attrs==22.1.0
bcrypt==3.2.2
cffi==1.15.1
Charm-Crypto==0.50
cryptography==37.0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc8
fabric==2.7.1
hypothesis==6.54.1
invoke==1.7.1
openpyxl==3.0.10
paramiko==2.11.0
pathlib2==2.3.7.post1
pycparser==2.21
PyNaCl==1.5.0
pyparsing==2.4.0
pyzmq==23.2.0
six==1.16.0
sortedcontainers==2.4.0
zmq==0.0.0
